<p style="color: green"><%= notice %></p>

<h1>Journal Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article_path(article) %>
    </p>
  <% end %>
</div>

<%= link_to "New Article", new_article_path %>
